{
	"endOfLine": "lf",
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-svelte"],
	"arrowParens": "avoid",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
